header{
    display:flex;
    align-items: center;
    
}
ul{
display:flex;

}
.htlm{
    display:flex;
}
li{
    display:flex;
    text-align: center;
}

.menu ul{
display: flex;
list-style-type:none;
}
li{

margin-left: 40px;
}

div{
    display: flex;
}